:root {
    --bg-color--card: #FAF3F0;
    --bg-color--output: #000;

    --font-color: #fff;
}

.card {
    background: var(--bg-color--card);
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px;
    width: 500px;
    border-radius: 10px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

h1 {
    color: black;
}

form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.decrypted div {
  border: 1px solid red;
  background: var(--bg-color--output);
  color: var(--font-color);
  font-family: 'inter';
  font-size: 3rem;
  margin-bottom: 30px;
  position: relative;
}

.decrypted div button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: -50%;
  right: -10%;
}

/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}